{{#partial "content"}}

    <div class="jumbotron">
        <h2 class="text display-4" >CheckMeOut Documentation</h2>
    </div>
    <h3>Searching for items</h3>
    <hr>
    <li> https://checkmeout-api.herokuapp.com/{id}</li>
    <br>
    <img src="/images/Screenshot from 2020-06-03 17-35-06.png">
    <hr>
    <h3>Adding items</h3>
    <hr>
    <li> https://checkmeout-api.herokuapp.com/items/new</li>
    <br>
    <img src="/images/Screenshot from 2020-06-03 17-38-04.png">



{{/partial}}

{{> layout.hbs}}